<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unotag.unopay">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Paymentapp"
        tools:targetApi="31">
        <receiver
            android:name=".NetworkChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".LevelStatusGraph"
            android:exported="false" />
        <activity
            android:name=".RankGraph"
            android:exported="false" />
        <activity
            android:name=".ShareActivity"
            android:exported="false" />
        <activity
            android:name=".ZoomMeeting"
            android:exported="false" />
        <activity
            android:name=".Rank"
            android:exported="false" />
        <activity
            android:name=".Gallery"
            android:exported="false" />
        <activity
            android:name=".LoginHelp"
            android:exported="false" />
        <activity
            android:name=".SuccessRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".companydocument"
            android:exported="false" />
        <activity
            android:name=".Withdraw"
            android:exported="false" />
        <activity
            android:name=".RaiseTicket_Activity"
            android:exported="false" />
        <activity
            android:name=".Terms"
            android:exported="false" />
        <activity
            android:name=".AccountDeletion"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".RefundPolicy"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Aboutus_Activity"
            android:exported="false" />
        <activity
            android:name=".MyIncome"
            android:exported="false" />
        <activity
            android:name=".MyTeam"
            android:exported="false" />
        <activity
            android:name=".openPDF_activity"
            android:exported="false" />
        <activity
            android:name=".Plans_Activity"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".addfund"
            android:exported="false" />
        <activity
            android:name=".recharge_plans"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coming_soon"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".web_activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".prepaid_mobile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- Launcher Intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep Link Intent -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="unotag.biz"
                    android:pathPrefix="/referral"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.unotag.unopay.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".NotificationReceiver" />

        <service
            android:name=".WebSocketService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>